<ion-content [fullscreen]="true" >
  <div class="body">สินค้า</div>
  <ion-item>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col><img src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-15-finish-select-202309-6-7inch-blue_FMT_WHH?wid=1280&hei=492&fmt=p-jpg&qlt=80&.v=cHJOTXEwTU92OEtKVDV2cVB1R2FTSjlERndlRTljaUdZeHJGM3dlLzR2OE9pRUNIQm9DazFDRlpxNlpHRkpTcTFRUjVZcnNucDN6ME84Sk5KdjNoWnBRcmhuV0xiN2owaDd6ZUdJRlYrRTlWZmVzdHlTb1ZvUkovcWloS2FZNXJ4Mk1xTE1BM0NnNUZrMHlSKzBKejdRPT0=&traceId=1"></ion-col>
      <ion-col>
<ion-label> ชื่อสินค้า : iphone 15</ion-label>
<ion-label> ราคา : </ion-label>
<ion-label> ประเภท: </ion-label>
      </ion-col>
     <ion-col>
      <ion-button color="danger"> ลบ</ion-button>
     </ion-col>
    </ion-row>
  </ion-grid>

</ion-item>
</ion-content>
